<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="<%= PUBLIC_URL %>/manifest.json">
    <link rel="shortcut icon" href="<%= PUBLIC_URL %>/favicon.ico">
    <meta property="og:image" content="http://static.hdw.eweb4.com/media/wallpapers_dl/1/122/1219370-spongebob-wallpaper-hd.jpg" />
    <title>React App</title>
  </head>
  <body>
    <div id="root" class="root-app" style="height:100vh">
      hello
    </div>
  </body>
</html>
